html{
    height: 100%;
    width: 100%;
    overflow:auto;
}

body{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: Segoe UI, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
}

ul.setting{
    list-style-type: none;
    margin-top: 40px;
    margin-left: 0px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 20px;
}

ul.para{
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 20px;
    padding-left: 20px;
}

ul.but{
    list-style-type: none;
    margin-left: 0px;
    margin-top: 22px;
    margin-bottom: 20px;
    padding-left: 20px;
}
    
li.para{
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
}

li.but{
    float: left;
    margin-right: 40px;
    margin-bottom: 10px;
}
    
table.cav{
    margin-top: 30px;
    margin-left: 20px;
    padding-left: 0px;
}

td.cap{
    font-size: 110%;
    font-weight: bold;
    color: rgb(0,30,150);
    text-align: left;
    margin-left: 0px;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}

td.cav{
    margin-left: 0px;
    padding-bottom: 30px;
    padding-right: 130px;
    padding-left: 0px;
}

img.im_right{
    vertical-align: top;
    float: right;
    border: none;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

li.how{
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    font-weight: normal;
}
    
#container{
    background: transparent url(contents/bar.gif) repeat-x scroll center top;
    -moz-background-inline-policy: initial;
    text-align: left;
    width: 100%;
    height: 100%;
    opacity: 1;
}

#line{
    border-top: 2px solid rgb(0, 30, 150);
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
}

h{
    padding-left: 20px;
    font-size: 110%;
    font-weight: bold;
    color: rgb(0,30,150);
    text-align: left;
}



